SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="EFD1", MODE="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="EFD2", MODE="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="EFD4", MODE="666", GROUP="plugdev"
